<web-app>
<servlet>
<servlet-name>DatabaseAccess_ViewAttendance</servlet-name>
<servlet-class>DatabaseAccess_ViewAttendance</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess_ViewAttendance</servlet-name>
<url-pattern>/DatabaseAccess_ViewAttendance</url-pattern>
</servlet-mapping>
 
<servlet>
<servlet-name>DatabaseAccess_ViewAttendanceStud</servlet-name>
<servlet-class>DatabaseAccess_ViewAttendanceStud</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess_ViewAttendanceStud</servlet-name>
<url-pattern>/DatabaseAccess_ViewAttendanceStud</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Insert_createlogin</servlet-name>
<servlet-class>Insert_createlogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Insert_createlogin</servlet-name>
<url-pattern>/Insert_createlogin</url-pattern>
</servlet-mapping>
 

<servlet>
<servlet-name>Insert_od</servlet-name>
<servlet-class>Insert_od</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Insert_od</servlet-name>
<url-pattern>/Insert_od</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Insert_ticket</servlet-name>
<servlet-class>Insert_ticket</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Insert_ticket</servlet-name>
<url-pattern>/Insert_ticket</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MarkAttendanceServlet1</servlet-name>
<servlet-class>MarkAttendanceServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MarkAttendanceServlet1</servlet-name>
<url-pattern>/MarkAttendanceServlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MarkAttendanceServlet2</servlet-name>
<servlet-class>MarkAttendanceServlet2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MarkAttendanceServlet2</servlet-name>
<url-pattern>/MarkAttendanceServlet2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DatabaseAccess_ViewOD</servlet-name>
<servlet-class>DatabaseAccess_ViewOD</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess_ViewOD</servlet-name>
<url-pattern>/DatabaseAccess_ViewOD</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DatabaseAccess_ViewTicket</servlet-name>
<servlet-class>DatabaseAccess_ViewTicket</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DatabaseAccess_ViewTicket</servlet-name>
<url-pattern>/DatabaseAccess_ViewTicket</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewOdServlet1</servlet-name>
<servlet-class>ViewOdServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewOdServlet1</servlet-name>
<url-pattern>/ViewOdServlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewOdServlet2</servlet-name>
<servlet-class>ViewOdServlet2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewOdServlet2</servlet-name>
<url-pattern>/ViewOdServlet2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewTicketServlet1</servlet-name>
<servlet-class>ViewTicketServlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewTicketServlet1</servlet-name>
<url-pattern>/ViewTicketServlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewTicketServlet2</servlet-name>
<servlet-class>ViewTicketServlet2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewTicketServlet2</servlet-name>
<url-pattern>/ViewTicketServlet2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>validateloginteacher</servlet-name>
<servlet-class>validateloginteacher</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>validateloginteacher</servlet-name>
<url-pattern>/validateloginteacher</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>validateloginstudent</servlet-name>
<servlet-class>validateloginstudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>validateloginstudent</servlet-name>
<url-pattern>/validateloginstudent</url-pattern>
</servlet-mapping>
</web-app>

